*{
  box-sizing: border-box;
  margin: 0px;
  
}
body{
  font-family: "Inter", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #faebd736;
}
nav{
  background-color: antiquewhite;
  border: 1px solid black;
  width: 100vw;
  height: 15vh;

}
ul{
  list-style: none;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recipe-hub{  
  text-decoration: none;
  color: brown;
  font-size: 2rem;
}
strong{
  text-transform: capitalize;
  color: blue;
}
li{

  display: flex;
  align-items: center;
}
.menu{
  margin: auto 30px auto auto;
  align-self:center;
}
.menu-list{
  width: 300px;
  padding: 1em;
  
  display: flex;
  justify-content: space-between;
  
}
.menu-list a{
  text-decoration: none;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  color: brown;
  font-weight: 700;
  border-bottom: 1px solid gray;
}
.search{
  margin: auto 40px auto 0px;
  align-self:center;
}
.logo{
  
  width:50px;
  height:50px;
}
.icon{
  width: 30px;
  height: 30px;
}
main{
  width: 100vw;
  height:100vh ;
}
.special{
  padding: 1rem;
  
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: aliceblue;
 

}
h1{
  text-align: center;
  margin: 0.5em;
  font-family: inherit;
  font-weight: 700;
  color: brown;
}
.cover-image{ 
  width: 100%;
  height: 500px;
  border-radius: 5px;
  z-index: 0;
}
.meal-info{
  width: 80%;
  height: auto;

  inset: 100px 100px ;
  color:black;
  z-index: 2;
}
.blur{
  border-radius: 5px;
   top: 87px;
  position: absolute;
  height: 500px;
  width: 95.5%;
  z-index: 1;
  background-color: black;
  opacity: 0.5;
}
.spec-intro{
  position: absolute;
  width: 50%;
  height: 40%;
  top: 70px;
  left: 20px;
  color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}
.spec-intro h3 p{
  margin:0px ;
}
.spec-intro h3{
font-size: 1.3rem;
margin: 1em;
width: auto;
margin-bottom: 0px;
color: #FAEBD7;

}
.special strong{
  color: #ffffffdb
}
.spec-intro p{
  font-size: 1rem;
margin-left: 1em;
width: auto;
color: #FAEBD7
}
.ingredients{

  width: 100%;
  margin-top: 10px;
  display: flex;
  
  
}
.ingredient-list{
  padding-left: 3px;
  width: 100%;
  font: 1rem "Inter", sans-serif;
  color: brown;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
   list-style: none;
  
}
.ingredient-list span{
 padding: 1px;
}
.process{
  line-height: 1.5;
  width: 90%;
  margin-top: 5px;
  height: auto;
  margin-bottom: 10px;
   
}
.search-bar{
  position: absolute;
    top: 53px;
    left: 500px;
    height: auto;
    width: 177px;
    border: 1px solid black;
    

}
input{
  margin: 0px;
padding:0.5em 0.3em;
border: 1px solid black;

}
.search-result{
  width: 173px;
  margin-top: 5px;
  position: absolute;
  background-color: #ffffff;
  z-index: 3;
 
}
.search-result p:hover{
   cursor: pointer;

  background-color: lightgray;
}
/* css for add.html */
.add-recipie{
  border-radius: 5px;
  padding: 1em;
  border: 1px solid gray;
  margin: auto;
  margin-top: 5em;
  
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   background-color: aliceblue;
}
#recipie-card .no-recipes{
  height: 500px;
  text-align: center;
  font-size: 50px;
  font-family: inherit;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-recipie label{
  font-size: 1.2em;
  padding: 0px;
  margin-bottom: -20px;
  color: brown;
}
.add-recipie button{
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  font-family: inherit;
  background-color: brown;
  color: #FAEBD7;
  font-weight: 900;
  border: none;
  border-radius: 5px;
}
.add-recipie input{
  padding: 0.6em 0.4em;
  font-size: 1.2rem;
  border: 1px solid gray;
 
  border-radius: 5px;
  margin: 0px;
  
}
.category-select{
  font-size: 1rem;
  padding: 1em 0.4em;
  font-family: inherit;
}
.add-recipie textarea{
  font-size: 1.2rem;
  margin-top: 5px;
  height: 50px;
  resize: none;
  padding: 0.4em 0.2em;

   
}
/* css for recipe card */

.recipe-image{
  border-radius: 10px;
  width:auto;
  height:300px;
}
.recipe-container{
  margin: 15px auto ;
  padding: 1em ;
  border-radius: 10px;
  width: 500px;
  height: auto;
  background-color: aliceblue;
  
}
.recipe-card{
  border-radius: 10px;
  margin:auto;
  width: 600px;
  border: 0.1px solid rgb(151, 144, 144);
  height: auto;
  background-color: #FAEBD7;

}
.recipe-card  span{
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: -0.4px;
  display: block;
  line-height: 1.5;
}
.recipe-card p{
  font-size: 1.1rem;
  
  
}
.recipe-title{
  font-weight: 400;
  padding: 0.3em;
  font-size:2rem;
  font-family: "Inter", sans-serif;
  text-align: center;
}
.recipe-description{
  margin: 10px 0px;
}

@media  (min-width: 768px) {
  body{
    background-color:aliceblue;
  }
  .special{
    margin: auto;
    max-width: 1000px;
  

    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 80px 1fr 60px;
    gap: 10px;
    grid-template-areas:
    "head head head head head"
    "imag imag imag imag info"
    "imag imag imag imag proc"
    "imag imag imag imag proc"
    "imag imag imag imag proc";
    

  }
  .blur{
    display: flex;
    border-radius: 5px;
    top: 105px;
    left: 17px;
    position: absolute;
    height: 497px;
    width: 430px;
    z-index: 1;
    background-color: black;
    opacity: 0.5;
  }
  .cover-image{
    grid-area: imag;
  }
  .process{
     grid-area: proc;
  }
  .spec-intro{
    grid-area: intr;

  }
  .special-title{
    grid-area: head;
  }
 .meal-info{
  grid-area: info;

 }
 
}

